[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/plugins/zsh-completions"]
	path = custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "custom/plugins/zsh-history-substring-search"]
	path = custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "no-rsync/bash-it"]
	path = no-rsync/bash-it
	url = https://github.com/Bash-it/bash-it
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim-snippets"]
	path = vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim-plugin-minibufexpl"]
	path = vim-plugin-minibufexpl
	url = https://github.com/weynhamz/vim-plugin-minibufexpl
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim-autoformat"]
	path = vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "undotree"]
	path = undotree
	url = https://github.com/mbbill/undotree
[submodule "vim-easytags"]
	path = vim-easytags
	url = https://github.com/oepn/vim-easytags
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "lightline.vim"]
	path = lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/vim-plugin-minibufexpl"]
	path = .vim/bundle/vim-plugin-minibufexpl
	url = https://github.com/weynhamz/vim-plugin-minibufexpl
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule ".vim/bundle/vim-easytags"]
	path = .vim/bundle/vim-easytags
	url = https://github.com/oepn/vim-easytags
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
